{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form.firstValue) }}
        {{ form_row(form.operation) }}
        {{ form_row(form.secondValue) }}
    {{ form_end(form) }}
{% endblock %}
