<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
    Result is {{ result }}
    <div>
        <a href="{{ path('calculator_homepage') }}">Back to Calculator Homepage</a>
    </div>
</body>
</html>
